@import "variables";
@import "mixins";

.logo {
    width: 217px;
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}
.social {
    height: 41px;
    .list {
        height: inherit;
        li + li {
            margin-left: 10px;
        }
    }
}
.menu {
    color: $color-white;
    .list--inline {
        li + li {
            margin-left: 35px;
        }
    }
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
span.circle {
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 23px;
    min-width: 23px;
    height: 23px;
    min-height: 23px;
    font-family: "ProximaNovaCond-Regular", sans-serif;
    font-size: 16px;
    color: $text-color-white;
    background: $color-red;
    border-radius: 15px;
}

.countdown {
    display: flex;
    &__item {

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            margin-bottom: 15px;
            font-family: 'ProximaNovaCond-SemiBold', sans-serif;
            font-size: 36px;
            background-color: $color-white;
            border-radius: 10px;
            color: $color-dark-blue;
        }
        span {
            display: flex;
            justify-content: center;
            font-family: 'ProximaNovaCond-Regular', sans-serif;
            color: $text-color-white;
        }
    }
    &__item + &__item {
        margin-left: 10px;
    }
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 465px;
    padding: 50px 35px 35px;
    background-color: #241719;
    border-radius: 10px;
}
.subscribe {
    display: flex;
    align-items: center;
    height: 41px;
    &__input {
        height: 100%;
        margin-right: -25px;
        padding: 0 0 0 25px;
        background-color: $color-dark-blue;
        color: $text-color-white;
        border-radius: 30px 0 0 30px;
        input {
            height: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
    &--wide {
        max-width: 460px;
    }
}

.header {
    padding: 30px 0 20px 0;
    .row {
        display: flex;
        align-items: center;
    }
    .row:nth-child(1) {
        justify-content: flex-end;
        margin-bottom: 20px;
    }
    .row:nth-child(2) {
        justify-content: space-between;
    }
    &__info {
        display: flex;
        justify-content: flex-end;
    }
    .icon-circle {
        margin-right: 30px;
    }
    .menu {
        display: flex;
        justify-content: flex-end;
    }
}
.footer {
    padding: 58px 0 37px 0;
    background-color: $color-bg-footer;
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__social {
        display: flex;
    }
    .btn {
        margin-left: 35px;
    }
    &__logo, &__copy {
        display: flex;
    }
    &__info, &__menu {
        display: flex;
        justify-content: flex-end;
    }
}
.plates-list {
    .row + .row {
        margin-top: 45px;
    }
}
.select {
    position: relative;
    width: 100%;
    padding: 15px 25px;
    border-radius: 15px;
    color: $text-color-white;
    background: $color-dark-blue;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span:nth-child(1) {
            display: flex;
            width: 95%;
            padding-right: 15px;
        }
    }
    &__list {
        height: 0;
        opacity: 0;
    }
    &:hover {
        .select__list {
            height: auto;
            opacity: 1;
            padding-top: 15px;
        }
        [class^="icon-"] {
            transform: rotate(180deg);
        }
    }
}
.employee-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__link {
        z-index: 1;
        position: absolute;
        top: 40px;
        right: -15px;
        cursor: pointer;
    }
    &__photo {
        z-index: 0;
        position: relative;
        display: flex;
        margin-bottom: 20px;
    }
    &__name {
        font-family: "ProximaNovaCond-Bold", sans-serif;
        font-size: 24px;
        color: $text-color-white;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    &__pos {
        color: $text-color-red;
    }
}

.content-1,
.content-2 {
    @include linear-bg-1();
}
section {
    padding: 55px 0;
}

.about {
    padding-top: 0;
    .row + .row {
        margin-top: 40px;
    }
    .buttons-list {
        margin: 50px 0;
        .btn + .btn {
            margin-left: 15px;
        }
    }
    .icons-list {
        li + li {
            margin-left: 30px;
        }
        .icon-circle {
            margin-right: 20px;
        }
        span {
            font-family: "ProximaNovaCond-Bold", sans-serif;
            font-size: 16px;
            color: $text-color-white;
            text-transform: uppercase;
        }
    }
    &__info {
        position: relative;
        padding: 55px 45px;
        background: $color-white;
        border-radius: 10px;
        color: $color-dark-blue;
        &:before {
            position: absolute;
            top: -33px;
            left: 65px;
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 36.5px 35px 36.5px;
            border-color: transparent transparent $color-white transparent;
        }
        ul:nth-child(1) {
            font-family: 'ProximaNovaCond-SemiBold', sans-serif;
            .circle {
                margin-right: 30px;
            }
            li {
                display: flex;
            }
            li + li {
                margin-top: 25px;
            }
        }
        ul:nth-child(2) {
            margin: 20px 0 0 0;
            padding-left: 25px;
            font-family: 'ProximaNovaCond-Regular', sans-serif;
            color: $color-red;
            span {
                color: $color-dark-blue;
            }
        }
    }
}
#in90seconds {}
.introducing {
    .plates-list {
        margin-bottom: 50px;
        .list {
            justify-content: space-between;
        }
    }
    &__btn,
    &__schema {
        [class^="col-"] {
            display: flex;
            justify-content: center;
        }
    }
}
.solution {
    @include linear-bg-1();
}
.ourteam {
    &__list {
        .row {
            justify-content: space-around;
            [class^="col-"] {
                text-align: center;
            }
        }
        .row + .row {
            margin-top: 30px;
        }
    }
}
.faq {
    .row:last-child {
        margin-top: 25px;
    }
    .select + .select {
        margin-top: 20px;
    }
}
#singup {
    @include linear-bg-1();
    .row + .row {
        margin-top: 60px;
    }
}
