@import "variables";
@import "mixins";

.logo {
    width: 217px;
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}
.social {
    height: 41px;
    .list {
        height: inherit;
        li + li {
            margin-left: 10px;
        }
    }
}
.menu {
    color: $color-white;
    .list--inline {
        li + li {
            margin-left: 35px;
        }
    }
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
span.circle {
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 23px;
    height: 23px;
    font-family: "ProximaNovaCond-Regular", sans-serif;
    font-size: 16px;
    color: $text-color-white;
    background: $color-red;
    border-radius: 15px;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 465px;
    padding: 50px 35px 35px;
    background-color: #241719;
    border-radius: 10px;
}
.subscribe {
    display: flex;
    align-items: center;
    height: 41px;
    &__input {
        height: 100%;
        margin-right: -25px;
        padding: 0 0 0 25px;
        background-color: $color-dark-blue;
        color: $text-color-white;
        border-radius: 30px 0 0 30px;
        input {
            height: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
    &--wide {
        max-width: 460px;
    }
}

.header {
    padding: 30px 0 20px 0;
    .row {
        display: flex;
        align-items: center;
    }
    .row:nth-child(1) {
        justify-content: flex-end;
        margin-bottom: 20px;
    }
    .row:nth-child(2) {
        justify-content: space-between;
    }
    .icon-circle {
        margin-right: 30px;
    }
}
.footer {
    padding: 58px 0 37px 0;
    background-color: $color-bg-footer;
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__social {
        display: flex;
    }
    .btn {
        margin-left: 35px;
    }
}
.plates-list {
    .row + .row {
        margin-top: 45px;
    }
}
.select {
    position: relative;
    width: 100%;
    padding: 15px 25px;
    border-radius: 15px;
    color: $text-color-white;
    background: $color-dark-blue;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span:nth-child(1) {
            display: flex;
            padding-right: 15px;
        }
    }
    &__list {
        height: 0;
        opacity: 0;
    }
    &:hover {
        .select__list {
            height: auto;
            opacity: 1;
            padding-top: 15px;
        }
        [class^="icon-"] {
            transform: rotate(180deg);
        }
    }
}

.content-1,
.content-2 {
    @include linear-bg-1();
}
section {
    padding: 55px 0;
}
#about {
    padding-top: 0;
    .buttons-list {
        margin: 50px 0;
        .btn + .btn {
            margin-left: 15px;
        }
    }
}
#in90seconds {}
.introducing {
    .plates-list {
        margin-bottom: 50px;
    }
}
.solution {
    @include linear-bg-1();
}
.faq {
    .row:last-child {
        margin-top: 25px;
    }
    .select + .select {
        margin-top: 20px;
    }
}
#singup {
    @include linear-bg-1();
    .row + .row {
        margin-top: 60px;
    }
}

