@import "variables";
.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 180px;
	height: 41px;
	padding: 0 15px;
	font-weight: 400;
	color: $color-white;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1.42857143;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid $color-white;
	border-radius: 30px;
	outline: 0;
	user-select: none;
	cursor: pointer;
	&--red {
		background: $color-red;
	}
}