@import "variables";
.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 41px;
    padding: 0 15px;
    font-family: "ProximaNovaCond-Bold", sans-serif;
    font-size: $size-text-default;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid $color-white;
    border-radius: 30px;
    outline: 0;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
    &--red {
        border: 0;
        background: $color-red;
    }
    &:hover {
        border: 0;
        background: $color-red;
    }
}