@font-face {
    font-family: 'ProximaNovaCond-Regular';
    src: url('../fonts/ProximaNovaCond/Regular/ProximaNovaCond-Regular.eot');
    src: url('../fonts/ProximaNovaCond/Regular/ProximaNovaCond-Regular.woff') format('woff'),
         url('../fonts/ProximaNovaCond/Regular/ProximaNovaCond-Regular.ttf') format('truetype'),
         url('../fonts/ProximaNovaCond/Regular/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaCond-Bold';
    src: url('../fonts/ProximaNovaCond/Bold/ProximaNovaCond-Bold.eot');
    src: url('../fonts/ProximaNovaCond/Bold/ProximaNovaCond-Bold.woff') format('woff'),
         url('../fonts/ProximaNovaCond/Bold/ProximaNovaCond-Bold.ttf') format('truetype'),
         url('../fonts/ProximaNovaCond/Bold/ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}