@import "variables";

@mixin bg-size() {
    background-size: 41px 41px;
}
@mixin bg-size-small() {
    background-size: 23px 23px;
}
@mixin size-small() {
    width: 25px;
    height: 25px;
}
@mixin size-default() {
    width: 33px;
    height: 33px;
}
@mixin bg-size-default() {
    background-size: 33px 33px;
}
[class^='icon-'] {
    position: relative;
    display: inline-flex;
    width: 41px;
    height: 41px;
}
.icon {
    &-circle {
        position: relative;
        justify-content: center;
        align-items: center;
        font-family: "ProximaNovaCond-Regular", sans-serif;
        font-size: $size-text-default;
        color: $text-color-white;
        border-radius: 50%;
        border: 2px solid $color-white;
        cursor: pointer;
        overflow: hidden;
        &--fill {
            background-color: $color-white;
        }
        &--simple {
            border: 0;
        }
        &--big {
            width: 117px;
            height: 117px;
            border-width: 4px;
        }
    }
    &-telegram {
        background: url('../images/icons/telegram-red.svg') no-repeat center;
        @include bg-size();
    }
    &-facebook {
        background: url("../images/icons/facebook-white.svg") no-repeat center;
        @include bg-size-small();
    }
    &-instagram {
        background: url("../images/icons/instagram-white.svg") no-repeat center;
        @include bg-size-small();
    }
    &-chrome {
        background: url("../images/icons/chrome-white.svg") no-repeat center;
        @include bg-size-small();
    }
    &-whatsapp {
        background: url("../images/icons/whatsapp-white.svg") no-repeat center;
        @include bg-size-small();
    }
    &-gplus {
        background: url("../images/icons/google-plus-white.svg") no-repeat center;
        @include bg-size-small();
    }
    &-explorer {
        background: url("../images/icons/internet-explorer-white.svg") no-repeat center;
        @include bg-size-small();
    }
    &-startup {
        &-red {
            background: url("../images/icons/startup-red.svg") no-repeat center;
        }
        &-purple {
            background: url("../images/icons/startup-purple.svg") no-repeat center;
        }
        @include bg-size();
    }
    &-idea {
        &-red {
            background: url("../images/icons/idea-red.svg") no-repeat center;
        }
        &-white {
            background: url("../images/icons/idea-white.svg") no-repeat center;
        }
        @include bg-size();
    }
    &-team {
        &-red {
            background: url("../images/icons/team-red.svg") no-repeat center;
        }
        @include bg-size();
    }
    &-db {
        &-red {
            background: url("../images/icons/database-red.svg") no-repeat center;
        }
        @include bg-size();
    }
    &-arrow {
        &-down {
            &-white {
                background: url("../images/icons/arrow-down-white.svg") no-repeat center;
                @include size-small();
                @include bg-size-small();
            }
        }
    }
    &-linkedin {
        background: url("../images/icons/linkedin.svg") no-repeat center;
        @include size-default();
        @include bg-size-default();
    }
}