@media (min-width: 1200px) {
}
@media (max-width: 1200px) {
    section {
        padding: 35px 0;
    }
    h2 {
        &+.subheading {
            margin-bottom: 40px;
        }
    }

    #singup .row+.row {
        margin-top: 40px;
    }
}