@media (max-width: 1200px) {
    section {
        padding: 35px 0;
    }
    h2 {
        &+.subheading {
            margin-bottom: 40px;
        }
    }
    .content-1 {
        -webkit-background-size: contain;
        background-size: contain;
    }
    .about {
        .buttons-list {
            display: flex;
            margin: 40px 0;
        }
        .row + .row {
            margin-top: 30px;
        }
    }
    .introducing .plates-list .list {
        display: flex;
        flex-wrap: wrap;
        li {
            width: 100%;
            margin-bottom: 10px;
        }
    }
    .plates-list {
        .btn {
            margin-bottom: 10px;
        }
    }
    #singup .row+.row {
        margin-top: 40px;
    }
}
@media (max-width: 992px) {
    .img-responsive {
        width: 100%;
        height: 100%;
    }
    .content-1 {
        background: linear-gradient(45deg, #643724 0%, #0e243c 8%, #0e243c 92%, #5d3424 100%);
    }
    .content-2 {
        background: linear-gradient(45deg, #643724 0%, #0e243c 8%, #0e243c 92%, #5d3424 100%);
    }
    section {
        padding: 25px 0;
    }
    h2 {
        font-size: 30px;
        &+.subheading {
            font-size: 20px;
            margin-bottom: 30px;
        }
    }
    h3 {
        margin-bottom: 20px;
        .circle {
            margin-right: 25px;
        }
    }
    .timer {
        height: 350px;
        padding: 35px;
    }
    .buttons-list {
        justify-content: center;
    }
    .row {
        [class^="col-"] {
            margin-top: 15px;
        }
    }
    .header {
        &__info {
            display: flex;
            justify-content: center;
        }
        &__logo {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
        }
        &__menu {
            display: flex;
            justify-content: center;
        }
        .buttons-list {
            justify-content: center;
        }
    }
    .about {
        h1 {
            margin: 20px 0;
            font-size: 33px;
        }
        &__tab {
            padding: 35px;
        }
        .row+.row {
            margin-top: 90px;
        }
    }
    .introducing {
        .plates-list {
            .row+.row {
                margin-top: 10px;
            }
            .list {
                display: flex;
                li {
                    width: auto;
                }
            }
        }
        &__schema {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .howitworks {
        &__text {}
        &__schema {
            display: flex;
            justify-content: center;
        }
    }
    #singup .row+.row {
        margin-top: 0;
    }
    .footer {
        padding: 30px 0;
        &__logo {
            justify-content: center;
            margin-bottom: 15px;
        }
        &__menu, &__info, &__copy, &__policy {
            justify-content: center;
        }
    }
}
@media (max-width: 768px) {
    .introducing .plates-list .list {
        justify-content: center;
        flex-wrap: wrap;
        li {
            width: 100%;
        }
    }
    .footer {
        &__social {
            flex-wrap: wrap;
            justify-content: center;
            .social {
                margin-bottom: 20px;
            }
            .btn {
                margin-left: 10px;
            }
        }
    }
}
@media (max-width: 575px) {
    .header {
        &__menu {
            display: none;
        }
    }
    .footer {
        &__menu {
            display: none;
        }
    }
    .about .icons-list span {
        font-size: 15px;
    }
}